* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif; /* Ajusta la fuente según tus preferencias */
}

#navbar {
    background:rgb(71, 7, 71);
    display: flex;
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos en la barra de navegación */
    padding: 0px 5px; /* Ajusta el espacio interno de la barra de navegación */
    margin-bottom: 10px;

}

.navbar-left{
    margin-left: -200px;
}

.navbar-right{
    margin-right: -200px;
}

#navbarDropdown {
    color: white;
    font-size: 24px;
    margin-right: 10px;
}

#navbarDropdown::after {
    display: none !important;
}

.dropdown-item {
    color: rgb(71, 7, 71);
    background-color:rgb(232, 226, 226);
    transition: background-color 0.3s;
    font-weight: 600;
    border: 3px solid black;
}

.dropdown-item:hover {
    background-color: rgb(190, 80, 190);
}

.dropdown-item.active {
    background-color: rgba(71, 7, 71);
    color: white;
}

#barrita {
    border-radius: 20px;
}

#buscar {
    border: none;
    background-color: rgba(255, 255, 255, .2);
    color: white;
    font-size: 17px;
    border-radius: 20px;
}

#buscar:hover {
    color: white;
}

#logo {
    font-size: 50px;
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(../img/agua2.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Voltaire', sans-serif;
    text-align: center;
}

#inicio {
    color: white;
    font-family: 'Raleway';
    margin-top: 17px;
}

#tutoriales {
    color: white;
    font-family: 'Raleway';
    margin-top: 17px;
}

#comofuncionamos {
    color: white;
    font-family: 'Raleway';
    margin-top: 17px;
}

#perfil {
    color: white;
    font-size: 35px;
    margin-top: 5px;
}

.white {
    margin-right: 5px;
    color: white;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
      font-variation-settings: 'wght' 100;
    }
    50% {
      font-variation-settings: 'wght' 500;
    }
    100% {
      font-variation-settings: 'wght' 100;
    }
  }
  .typeletter{
    font-family: 'Lobster', sans-serif;
  }