* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif; /* Ajusta la fuente según tus preferencias */
}

#navbar {
    background: rgb(102, 0, 102);
    display: flex;
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos en la barra de navegación */
    padding: 10px 20px; /* Ajusta el espacio interno de la barra de navegación */
}

#logo {
    font-size: 30px;
    font-weight: 600;
    color: white;
    font-family: 'Raleway';
}
