body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../img/395565.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Lora';
  }
  
.wrapper {
    width: 500px;
    max-width: 80%; /* Ajusta el ancho máximo según tus preferencias */
    margin: auto; /* Centra horizontalmente */
    background: rgba(102, 0, 102, 0.5);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: 6%; /* Ajusta según tus preferencias para centrar verticalmente */
    margin-bottom: 10%;
}
  
.wrapper h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-weight: 700;
}
  
#log {
    background-color: #fff;
    color: #000;
    border: 2px solid rgb(164, 148, 164);
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    display: block;
    margin: 0 auto;
    padding: 8px 30px;
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: 600;
}
  
#log:hover {
    background-color: rgb(166, 148, 164);
    color: #fff;
}
  