{% extends "installed_apps/plantilla padre.html" %}
{% block title %} Resultados de la búsqueda {% endblock %}
{% block content %}

<!-- Bootstrap -->
<link href="../installed_apps/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

<style>
    body {
        background-image: url(../static/installed_apps/img/black-and-white-boutique-clothes-clothing-rack.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #titulo {
        font-family: 'Raleway';
        font-weight: 700;
        background-color: rgba(102, 0, 102, 0.5); /* Fondo morado */
        color: white; /* Letras blancas */
        padding: 10px; /* Espaciado interno */
        border-radius: 10px; /* Esquinas redondeadas */
        margin-bottom: 20px;
    }

    .search-results {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
    }

    .search-result {
        border: 1px solid #ccc;
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        font-family: 'Raleway';
        font-weight: 600;
        background-color: white; /* Fondo blanco */
        margin-bottom: 20px; /* Espaciado inferior */
    }

    #prenda {
        color: rgb(102, 0, 102);
        font-size: 25px;
    }

    .search-result img {
        max-width: 100%;
        height: auto;
    }
</style>

<h2 id="titulo">Resultados de la búsqueda para "{{ query }}"</h2>

<div class="search-results">
    {% for foto in fotos %}
        <div class="search-result">
            <p id="prenda">{{ foto.descripcion }}</p>
            <img src="{{ foto.imagen.url }}" alt="{{ foto.descripcion }}">
            <p>Teléfono: {{ foto.telefono }}</p>
            <p>Categoría: {{ foto.get_categoria_display }}</p>
            <p>Género: {{ foto.get_genero_display }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}
