<html>

<head>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'installed_apps/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <!-- Styles -->
    <link href="{% static 'installed_apps/css/gestion.css' %}" rel="stylesheet">
</head>

<body>

  <div class="titulo">
    <p>Vida al Hilo</p>
  </div>


 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="home.html">Vida al Hilo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="">Inicio</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="contacto">Contacto</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="accounts/login">Login</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>


   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'installed_apps/img/ropa.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper"></span>
            <span class="section-heading-lower">Salvemos el mundo</span>
          </h2>
          <p class="mb-3">Página diseñada para la venta y compra de ropa, donde adicionalmente les brindamos material de apoyo para cuidar tu ropa correctamente, así como modificarla a tu gusto!
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Con creador de conjuntos</span>
              </h2>
              <p class="mb-0">Garantizamos una muy buena experiencia en nuestra página web, donde puedes echar a volar la imaginación</p>
            </div>
          </div>
        </div>
        <p class="m-0 mbt1">&copy; Vida al hilo 2023</p>
      </div>
    </section>


    <!-- Bootstrap -->
    <script src="{% static 'installed_apps/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'installed_apps/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>