{% extends "installed_apps/plantilla padre.html" %}
{% block title %} Lista de fotos {% endblock %}
{% block content %}

<!-- listar_fotos.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Listado de Fotos</title>
</head>
<body>
    <h1>Listado de Fotos</h1>

    <ul>
        {% for foto in fotos %}
            <li>
                <p>{{ foto.descripcion }}</p>
                <img src="{{ foto.imagen.url }}" alt="{{ foto.descripcion }}" height="200">
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'publicar_foto' %}">Publicar Nueva Foto</a>

    <h1>Listado de Publicaciones</h1>
    
    <ul>
        {% for publicacion in publicaciones %}
            <li>
                {{ publicacion.titulo }}
                <a href="{% url 'eliminar_publicacion' publicacion.id %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>

</body>
</html>

{% endblock %}