{% extends "installed_apps/plantilla padre.html" %}
{% block title %} Home {% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Perfil de Usuario</title>
</head>
<body>
    <h1>Perfil de Usuario</h1>
    <div>
        <h2>Nombre: {{ user.username }}</h2>
        <p>Correo: {{ user.email }}</p>
        <p></p>
        
        <!-- Otros campos y detalles del usuario -->
        <a href="{% url 'listar_fotos' %}">Lista de fotos</a>
    </div>
</body>
</html>


{% endblock %}